# dependencies
node_modules/

# environment variables
.env

# logs
logs/
*.log
npm-debug.log*

# database files (if any)
*.sqlite
*.db

# build files
dist/
build/

# OS & editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
